body {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-weight: 300;
}

.title-super {
    font-size: 50px;
}

.header {
    color: #c32293;
    padding-top: 20px;
}

.img-1 {
    max-width: 100%;
    height: auto;
}

.btn-default {
    background-color: rgb(228, 228, 228);
}

.picture {
    max-width: 230px;
    max-height: 300px;
}

.row > .text-left {
    margin-left: 10px;
}

.description {
    font-size: 16px;
}

.modal-dialog {
    max-width:600px;
}

@media (min-width:550px) {
    .thumbnail {
        width: 260px;
        height: 220px;
    }
    .relat {
        width: 200px;
        height: 160px;
        }
}

@media (max-width:549px) {
    .thumbnail {
        width: 190px;
        height: 150px;
    }
    .relat {
        width: 130px;
        height: 90px;
        }
    .title-super {
        font-size: 43px;
        }
    h3 {
        font-size: 23px;
    }
}

.thumbnail {
    cursor: zoom-in;
    margin-bottom:6px;
}

h3 {
    padding-bottom: 15px;
}

h4 {
    color: black;
}

.footer, .copyright {
    background-color: rgb(228, 228, 228);
    color: #c32293;
}

.footer-link {
    color: #c32293;
}

.social-media {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}
